
<% include partials/header %>
            
            <!-- Main -->
            <main class="dash-content">
                <div class="container-fluid">
                  <div class="dash-title text-center">
                    <h1>Image Classifier With <span style="color:blueviolet">ML5</span></h1>
                    <p>The library provides access to machine learning algorithms and models in the browser, building on top of <span class="sp-col">Tensorflow.js</span> with no other external dependencies.</p>
                    <hr>
                  </div>
                  
            </main>
        </div>
    </div>

<% include partials/footer %>
